.admin-orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-details-wrapper {
  padding: 3%;
}

.single-order-info {
  border: 1px solid var(--purple);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  padding: 3%;
  margin-bottom: 2%;
}

.order-item {
  margin-bottom: 5px;
}

.order-item p {
  margin: 0;
}

.order-item-details {
  border: 1px solid var(--purple);
  padding: 3%;
  margin-bottom: 2%;
}

.customer-info {
  border: 1px solid var(--purple);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding: 3%;
  margin-bottom: 2%;
}

.admin-orders-buttons {
  display: flex;
  justify-content: space-between;
}

.admin-orders-header h2 {
  display: none;
}

@media (min-width: 600px) {
  .admin-orders-container {
    width: 100%;
  }
  .admin-orders-header h2 {
    display: block;
    color: var(--purple);
    position: absolute;
    left: 3vw;
    top: 0.5vh;
  }
}

@media (min-width: 1200px) {
  .order-details-wrapper {
    width: 98vw;
  }
  .all-details {
    display: flex;
    justify-content: center;
  }
  .order-item {
    border-bottom: 1px solid var(--purple);
  }
  .admin-orders-buttons {
    justify-content: space-around;
  }
}
