.desktop-cart-container .MuiPaper-root {
  margin: 0;
  width: 25vw;
  /* max-height: 90vh; */
  border: 1px solid var(--purple);
  border-right: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  background-color: black;
  /* padding: 5%; */
  background-image: none;
}

.desktop-cart-x {
  color: var(--purple);
  height: 25px;
  width: 25px;
  display: block;
  position: absolute;
  right: 4%;
  top: 2%;
}
.desktop-cart-x:hover {
  cursor: pointer;
}

.desktop-cart-container h1 {
  margin: 12% 0 4% 0;
  text-align: center;
  font-size: 30px;
}

.desktop-cart-contents {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.desktop-cart-items {
  max-height: 70vh;
  /* overflow-y: auto; */
  /* scrollbar-width: thin;
    scrollbar-color: black; */
}

.desktop-cart-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop-cart-checkout h2 {
  font-size: 22px;
  color: var(--orange);
  margin: 6%;
}
.desktop-cart-checkout .desktop-checkout-button {
  height: 48px;
  width: 60%;
  border: 1px solid var(--orange);
  background-color: var(--orange);
  color: black;
  font-size: 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 0;
  font-family: "Signika Negative", sans-serif;
}
.desktop-cart-checkout .desktop-checkout-button:hover {
  background-color: black;
  color: var(--orange);
}

.desktop-cart-checkout .desktop-back-shop-button {
  height: 48px;
  width: 60%;
  border: 1px solid var(--purple);
  background-color: black;
  color: var(--purple);
  font-size: 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 6% 0 6% 0;
  font-family: "Signika Negative", sans-serif;
}
.desktop-cart-checkout .desktop-back-shop-button:hover {
  background-color: var(--purple);
  color: black;
}
