.edit-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-form-container {
  width: 95vw;
  padding: 1%;
}

#form-cancel-button {
  text-decoration: none !important;
}

/* modal */
.delete-modal-elements {
}

.delete-modal-buttons {
  display: flex;
}

.delete-modal-x {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
}
.delete-modal-x:hover {
  cursor: pointer;
}
