.footer-container {
  background-color: black;
  padding: 10px;
  min-height: 9vh;
  bottom: 0;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-text {
  color: var(--purple);
  text-align: center;
  margin: 0;
}

.footer-link {
  color: var(--orange);
  text-decoration: none;
  text-align: center;
  margin: 0;
}

.footer-link:hover {
  color: var(--orange);
  text-align: center;
  margin: 0;
}

.footer-copyright {
  margin-top: 4vh;
}

.footer-copyright span {
  display: block;
  font-size: 9px;
  color: var(--purple);
}

@media (min-width: 600px) {
  .footer-copyright span {
    font-size: 11px;
  }
}
