/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  /* --blue: #113e3e; */
  --purple: #d6bce0;
  --orange: #ed8a1b;
  --border-radius: 15px;
}

@import url("https://fonts.googleapis.com/css2?family=NTR&display=swap");

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-height: 100vh;
  max-width: 100vw; */
  background-color: black;
  min-height: 100vh;
}

/* @media (max-width: 599px) {
  .App {
    position: absolute;
    overflow: auto;
  }
} */
