@import url("//hello.myfonts.net/count/45d179");

@font-face {
  font-family: "NationalForestRegular";
  src: url("./fonts/NationalForestRegular/font.woff2") format("woff2"),
    url("./fonts/NationalForestRegular/font.woff") format("woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* hide scrollbar */
  /* overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.NationalForestRegular {
  font-family: NationalForestRegular;
}

/* @media (max-width: 599px) {
  body {
    overflow: hidden;
    position: relative;
  }
} */
